.example-spacer {
  flex: 1 1 auto;
}
table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}


.example-button {
  margin-top: 16px;
}

.example-tooltip{
  background: #1c8eb7;
  background-color: #1c8eb7;
}

