

<app-liste-employees></app-liste-employees>










<!-- <form class="example-form">
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Company (disabled)</mat-label>
    <input matInput disabled value="Google">
  </mat-form-field>

  <table class="example-full-width" cellspacing="0"><tr>
    <td><mat-form-field class="example-full-width" appearance="fill">
      <mat-label>First name</mat-label>
      <input matInput>
    </mat-form-field></td>
    <td><mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Long Last Name That Will Be Truncated</mat-label>
      <input matInput>
    </mat-form-field></td>
  </tr></table>

  <p>
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Address</mat-label>
      <textarea matInput placeholder="Ex. 100 Main St">1600 Amphitheatre Pkwy</textarea>
    </mat-form-field>

</form>



<form action="" class="normal-form" >
  <mat-grid-list cols="2" rowHeight="300px">
    <mat-grid-list cols="2">
      <div class="controles-container">
        <input type="hidden" name="" id="" formControlName="$key">
        <mat-form-field>
          <input type="text" name="" id="" formControlName="nom" matInput placeholder="Nom" >
        </mat-form-field>
        <mat-form-field>
          <input type="text" name="" id="" formControlName="prenom" matInput placeholder="Prénom" >
        </mat-form-field>
        <mat-form-field>
          <input type="number" name="" id="" formControlName="tel" matInput placeholder="Téléphone" >
        </mat-form-field>
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Telephone</mat-label>
          <span matPrefix>+1 &nbsp;</span>
          <input type="tel" matInput placeholder="555-555-1234">
          <mat-icon matSuffix>mode_edit</mat-icon>
        </mat-form-field>
      </div>
    </mat-grid-list>

  </mat-grid-list>
</form> -->


