<div class="body">
  <div class="login">

    <mat-spinner *ngIf="loading" class="spinner" diameter="50" ></mat-spinner>

    <form *ngIf="!loading" [formGroup]="form">
      <img src="../../../assets/img/userCercle.png" alt="" width="100px" height="100px">
      <h1>Login</h1>

      <mat-form-field appearance="fill" class="ancho">
        <mat-label>Login</mat-label>
        <input matInput formControlName="login" placeholder="Veuillez sasir votre login ...">
        <mat-icon matSuffix>login</mat-icon>
      </mat-form-field>
        <mat-form-field appearance="fill" class="ancho">
          <mat-label>Mot de passe</mat-label>
          <input matInput formControlName="password" [type]="hide ? 'password' : 'text'" placeholder="Veuillez sasir votre mot de passe ..."/>
          <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
        </mat-form-field>

        <button type="submit" mat-raised-button color="basic" class="ancho" (click)="connecter()" [disabled]="form.invalid" >Se connecter</button>
    </form>

  </div>
</div>
