<body>


<div class="body">
  <div class="login c_form">

    <mat-spinner *ngIf="loading" class="spinner" diameter="50" ></mat-spinner>

    <form *ngIf="!loading" [formGroup]="form">
      <div class=" pt-3 pb-4 titre_con ">
        Se connecter
    </div>
      <img src="../../../assets/img/aa.png" alt="" width="100px" height="100px">
      <div style="padding : 15px;"></div>

      <mat-form-field appearance="fill" class="ancho">
        <mat-label>Login</mat-label>
        <input matInput formControlName="login" placeholder="Veuillez sasir votre login ...">
        <mat-icon matSuffix>login</mat-icon>
      </mat-form-field>
        <mat-form-field appearance="fill" class="ancho">
          <mat-label>Mot de passe</mat-label>
          <input matInput formControlName="password" [type]="hide ? 'password' : 'text'" placeholder="Veuillez sasir votre mot de passe ..."/>
          <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
        </mat-form-field>

        <button type="submit" mat-raised-button color="basic" class="ancho" (click)="connecter()" [disabled]="form.invalid" >Se connecter</button>
    </form>

  </div>
</div>
</body>
