.mat-form-field , .mat-radio-group{
  width: 46%;
  margin-left: 10px;
}
.mat-stroked-button{
  margin-left: 10px;
  width: 47%;
  height: 45px ;
}

/* .example-container .mat-form-field + .mat-form-field {
  margin-left: 8px;
} */

.example-radio-group {
  display: flex;
  flex-direction: column;
  margin: 15px 0;
  align-items: flex-start;
}

.example-radio-button {
  margin: 5px;
}


.mat-dialog-title{
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
  font-size: 40px;
  color:cornflowerblue;
}

.titre2{
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
  font-size: 29px;
  margin-top: 30px;
}

.titre3{
  /* text-align: center; */
  font-family: 'Times New Roman', Times, serif;
  font-size: 20px;
  margin-top: 20px;
  margin-bottom: 16px;
  color: darkgray;
}



.example-action-buttons {
  padding-bottom: 20px;
}

.example-headers-align .mat-expansion-panel-header-title,
.example-headers-align .mat-expansion-panel-header-description {
  flex-basis: 0;
}

.example-headers-align .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}

.example-headers-align .mat-form-field + .mat-form-field {
  margin-left: 8px;
}

